@model Tesouraria.Apresentacao.ViewModels.LancamentoViewModel
@{
    ViewBag.Title = "Cadastro de Lançamentos";
}
<h2 class="portlet-title">
    <i class="fa fa-list"></i>&nbsp;Cadastrar Lançamentos
    <button type="button" class="btn btn-primary pull-right" id="btSalva">
        <span class="fa fa-save"></span><span>&nbsp;Salvar</span>
    </button>
    <button type="button" class="btn pull-right" style="margin-right: 10px" id="btVolta">
        <span class="fa fa-arrow-circle-left"></span><span>&nbsp;Voltar</span>
    </button>
</h2>
<hr />
<br />
<fieldset>
    @Html.Partial("Form", Model)
    @Html.Partial("ModalPessoas", Model)
    @Html.Partial("ModalTaxas", Model)
</fieldset>
<script type="text/javascript" src="~/Scripts/Tesouraria/Lancamento/VinculoPessoa.js"></script>
<script type="text/javascript" src="~/Scripts/Tesouraria/Lancamento/VinculoTaxa.js"></script>
<script type="text/javascript" src="~/Scripts/Tesouraria/Lancamento/Lancamento.js"></script>
