@model Tesouraria.Apresentacao.ViewModels.LancamentoViewModel
@{
    ViewBag.Title = "Cadastro de Lançamentos";
}
@using (Html.BeginForm("Create", "Pessoa", FormMethod.Post, new { id = "form" }))
{
    <h2 class="portlet-title">
        <i class="fa fa-list"></i>&nbsp;Novos Lançamentos
        <button type="button" class="btn btn-primary pull-right" id="btSalvar">
            <span class="fa fa-save"></span><span>&nbsp;Salvar</span>
        </button>
        <button type="button" class="btn pull-right" style="margin-right: 10px" id="btVoltar">
            <span class="fa fa-arrow-circle-left"></span><span>&nbsp;Voltar</span>
        </button>
    </h2>
    <hr />
    <br />
    <fieldset>
        @Html.Partial("Form", Model)
        @Html.Partial("ModalPessoas", Model)
        @Html.Partial("ModalTaxas", Model)
    </fieldset>
}
<script type="text/javascript" src="~/Scripts/Tesouraria/LancamentoScript.js"></script>
<script type="text/javascript" src="../../Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="../../Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
<link href="@Url.Content("~/Content/bootstrap/bootstrap-datepicker3.css")" rel="stylesheet" type="text/css" />